@font-face {
    font-family: Mohave;
    src: url(../mohave/Mohave-Bold.otf);
}

@font-face {
    font-family: TradeGothic;
    src: url(../TradeGothic.otf);
}

a {
    color:#fff;
    background:none;
}

a:focus,
a:hover {
    color: #9BBA6F;
    background: none;
}

.nav > li > a:focus, .nav > li > a:hover {
    background: none;
    color: #9BBA6F;
}


.btn-primary {
    background-color:#AF4F50;
    border: .05rem solid #AF4F50;
    cursor: default;
    pointer-events: none;
}
.btn-primary:hover {
    background-color:#AF4F50;
    border: .05rem solid #AF4F50;
}

.btn-primary:focus {
    background-color:#AF4F50;
    border: .05rem solid #AF4F50;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: .05rem solid #fff;
}

html,
body {
    height: 100%;
    line-height:200%;
}
body {
    color: #fff;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
}

p {
    font-size: 0.8em;
    font-weight:100;
    text-align:left;
}

h4 {
    font-size:1.5em;
}

h5 {
    font-size: 1em;
    font-weight:100;
}

h6 {
    font-size:1.1em;
}

.subheader {
    text-align: center;
    font-style: italic;
    font-weight:100;
    font-size:1.05em;
    margin-bottom:3em;
    margin-top:1em;
}

.portfolio-head {
    border-bottom: 0.1em solid #fff;
    padding-bottom:0.5em;
    margin-top:3em;
}

.portfolio-info {
    text-align:left;
    margin-top:5em;
    margin-bottom:5em;
    color: #1e1e1e;
}

.portfolio-info a {
    color: #AF4F50;
}

.portfolio-info a:hover {
    color: #7D322F;
}

.portfolio-container {
    display:table;
    height:auto;
    padding-bottom: 3em;
}

#portfolio-carousel {
    margin-bottom:3em;
}

.portfolio-description {
    line-height: 175%;
    margin-bottom:5em;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 80%;
    -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
    box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}

.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 80%;
    width: 100%;
}

.initiative-bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 50%;
    width: 100%;
}

#home {background-image:url('../img/home.png')}

.portfolio-page{
    background-image:url('../img/home.png');
    height:30%;
}

.header-title {
    font-size: 2em;
    font-weight:400;
    font-family: 'Oswald', sans-serif;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.inner {
    padding: 2rem;
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: bold;
    color: rgba(255,255,255,.5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}

.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: bold;
}
.cover-heading {
    font-size:2em;
    font-family: 'Oswald', sans-serif;
    margin-bottom:0.5em;
}

.cover-emphasis {
    font-weight:900;
}

.lead {
    font-size:1em;
}

.css-typing
{
    width: 15em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 3s steps(50, end);
    animation: type 3s steps(50, end);
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

.blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    to {opacity: .0;}
}

.mastfoot {
    color: rgba(255,255,255,.5);
}

.whatido {
    margin-bottom:1em;
    margin-left:0;
}

.header {
    font-size:4em;
}
#landing {
    display:table;
    width:100%;
    height:auto;
    background-color: #00A539;
    color:#fff;
    padding-top:5em;
    padding-top:5em;
    padding-bottom: 5em;
}

.initiative {
    text-align:left;
    line-height:150%;
}

.skill-icon {
    color: #AF4F50;
    padding-bottom:0.5em;
}

#portfolio {
    display:table;
    width:100%;
    height:auto;
    background-color: #fff;
    border-bottom:0.2em solid #ebebeb;
    color:#ebebeb;
    font-weight: lighter;
    overflow: hidden;
}

#portfolio-head {
    display:table;
    width: 100%;
    height: auto;
    background-color: #AF4F50;
    color: #fff;
    padding-top:3em;
    padding-bottom:3em;
    border-bottom:0.1em solid #7D322F;
}

.portfolio-title {
    font-size: 3em;
    font-weight:400;
    font-family: 'Oswald', sans-serif;
    margin-top:3em;
    padding-bottom: 0.6em;
    border-bottom: 0.1em solid #fff;
}

#portfolio-head .subheader {
    margin-bottom:1em;
}

.portfolio-sections {
    padding: 0;
    margin: 0;
    overflow:hidden;
}

.portfolio-sections a {
    color:#fff;
}

.portfolio-img {
    padding: 0;
    margin: 0;
    width:100%;
}

.portfolio-details {
    line-height:125%;

}

#jwu-hover {
    height: 100%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    background: rgba(27,27,27,0.9);
    position: absolute;
    display: none;
    z-index:99;
}


#jwu-content:hover #jwu-hover {
    display: block;
    transition:0.5s;
}

#jwu-content .portfolio-img {
    webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition:0.5s;
}

#jwu-content:hover .portfolio-img {
    webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition:0.5s;
}

#jwu-hover:hover {
    display:block;
}


#ladbtv3-hover {
    height: 100%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    background: rgba(27,27,27,0.9);
    position: absolute;
    display: none;
    z-index:99;
}

#ladbtv3-content:hover #ladbtv3-hover {
    display: block;
}

#ladbtv3-content .portfolio-img {
    webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition:0.5s;
}

#ladbtv3-content:hover .portfolio-img {
    webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition:0.5s;
}

#secondimage-hover {
    height: 100%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    background: rgba(27,27,27,0.9);
    position: absolute;
    display: none;
    z-index:99;
}

#secondimage-content:hover #secondimage-hover {
    display: block;
}

#secondimage .portfolio-img {
    webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition:0.5s;
}

#secondimage-content:hover .portfolio-img {
    webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition:0.5s;
}

#itc2015-hover {
    height: 100%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    background: rgba(27,27,27,0.9);
    position: absolute;
    display: none;
    z-index:99;
}

#itc2015-content:hover #itc2015-hover {
    display: block;
}

#itc2015-content .portfolio-img {
    webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition:0.5s;
}

#itc2015-content:hover .portfolio-img {
    webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition:0.5s;
}

#coffeeboss-hover {
    height: 100%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    background: rgba(27,27,27,0.9);
    position: absolute;
    display: none;
    z-index:99;
}

#coffeeboss-content:hover #coffeeboss-hover {
    display: block;
}

#coffeeboss-content .portfolio-img {
    webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition:0.5s;
}

#coffeeboss-content:hover .portfolio-img {
    webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition:0.5s;
}

#conways-hover {
    height: 100%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    background: rgba(27,27,27,0.9);
    position: absolute;
    display: none;
    z-index:99;
}

#conways-content:hover #conways-hover {
    display: block;
}

#conways-content .portfolio-img {
    webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition:0.5s;
}

#conways-content:hover .portfolio-img {
    webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition:0.5s;
}

.hover-text {
    margin-top:25%;
    pading:1em;

}

.img-wrap {
    border: 0.1em solid #1e1e1e;
}

.carousel-indicators li {
    background-color:#1e1e1e;
    border: 1px solid #1e1e1e;
}

#about {
    display:table;
    width:100%;
    height:auto;
    background-color: #fff;
    color:#1e1e1e;
    padding-top: 5em;
    padding-bottom: 5em;
    border-bottom:0.1em solid #ebebeb;
}

#contact {
    display:table;
    width:100%;
    height:auto;
    background-color: #AF4F50;
    color:#fff;
    padding-top:3em;
    padding-bottom: 3em;
    border-bottom:0.25em;
}

.email a{
    color: #9BBA6F;
    text-decoration:underline;

}

.email a:hover, a:focus > a:hover {
    color:#909149; !important;
}

.email-bar {
    margin-top:1em;
}

.currently {
    margin-bottom:1.5em;
}

.social-links {
    padding:0;
}

.social-links li {
    display:inline;
}

.social-links a {
    color: #9BBA6F;
    text-shadow: 1px 1px 1px #1e1e1e;
}

.social-links a:hover {
    color:#909149;
}

.footerbar {
    font-weight:100;
    margin-top:1em;
    margin-bottom:1em;
    color: #ebebeb;
    font-size:0.75em;
    text-align:center;
}

.profile {
    border: 0.5em solid #9BBA6F;
    margin-bottom:2em;
    margin-top:2em;
}

.profile:hover {
    -moz-box-shadow: 0.1em 0.1em 1em #999;
    -webkit-box-shadow: 0.1em 0.1em 1em #999;
    box-shadow: 0.1em 0.1em 1em #999;
    transition:0.3s;
}

.bio {
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    width:90%;
}

footer .navbar > .navbar{
    margin-bottom: 0;
    border-radius: 0;
}

.foot {
    background-color:#346722;
    margin:0;
    padding:0.1em;
    text-align: center;
}

.descriptions {
    opacity:0;
}

.btn-default {
    font-size:1.2em;
    background: none;
    color: #1b1b1b;
    border: 0.1em solid #1b1b1b;
    text-decoration: none;
    font-weight:100;
    margin-top:1em;
    margin-bottom:1em;
    padding-left:3em;
    padding-right:3em;
}

.btn-default:hover {
    color: #fff;
    background-color:#9BBA6F;
    border: 0.1em solid #9BBA6F;
    transition: 0.15s;
    -moz-box-shadow: 0.2em 0.2em 2em #909149;
    -webkit-box-shadow: 0.2em 0.2em 2em #909149;
    box-shadow: 1px 3px 2px #909149;
}

.btn-default:focus {
    color: #fff;
}

@media (max-width: 20em) {

    h5 {

    }
    .fa-3x {
        font-size:2em;
    }

    #skills {
        padding-bottom:0;
    }
}

@media (min-width: 20em) {

    p {
        font-size: 1em;
    }

    .header-title {
        font-size:2.8em;
    }

    .cover-heading {
        font-size:3em;
        line-height:150%;
    }

    .lead {
        font-size:1.5em;
    }

    .social-links .fa-3x {
        font-size:3em;
    }

    #skills {
        padding-bottom:5em;
    }

}

@media (min-width: 23em) {

    .social-links .fa-3x {
        font-size:4em;
    }
}

@media (max-width:30em) {

    .navbar {
        box-shadow: 0.1em 0.1em 1em #999;
    }

    .navbar-default {
        background-color: #fff;
        border-color: #e7e7e7;
    }

    .navbar-default .navbar-nav>li>a {
        color: #1e1e1e;
    }

    .navbar-default .navbar-nav>li>a {
        color: #1e1e1e;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }

    .navbar-default .navbar-toggle {
        border-color: #ddd;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #888;
    }
}

@media (min-width: 40em) {

    h5 {
        font-size: 1.2em;
    }

    .cover-heading {
        font-size:4em;
    }

    .lead {
        font-size:2em;
    }

    .header-title {
        font-size:3em;
        margin-left:5em;
    }

    .whatido {
        margin-bottom:3em;
        margin-left:0;
    }

    .bio {
        width:50%;
    }

    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }

    .site-wrapper-inner {
        vertical-align: middle;
    }
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%;
    }

    .social-links .fa-3x {
        font-size:3em;
    }

    .email-bar {
        margin-top:1em;
        margin-right:5em;
    }

    .skill-bar {
        opacity: 0;
    }

    .title-bar {
        opacity: 0;
    }

    #recentworks-wrapper {
        opacity: 0;
    }

    #aboutme-wrapper {
        opacity: 0;
    }

    #profile-wrapper {
        opacity: 0;
    }

    .currently {
        opacity:0;
        margin-left:5em;
    }

    .bio-wrap {
        opacity: 0;
        margin-bottom:5em;
    }

    #contact-wrapper {
        opacity: 0;
    }

    #email-wrapper {
        opacity: 0;
    }

    #social-links-wrapper {
        opacity: 0;
    }

}

.cover-container {
    margin-top:10em;
}

@media (min-width: 62em) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 62rem;
    }
}
